.teen {
    color:red;
}
.merchandise {
    color:blue;
}
.dressed {
    font-family: 'Sedgwick Ave', cursive;
}
.acting {
    font-family: 'Unlock', cursive;
}
.merchandise {

    font-family: 'Gloria Hallelujah', cursive;
}
.teen {
    font-family: 'Kumar One Outline', cursive;
}
.dressed {
    color:yellow;
}
h2 {
    color:purple;
}
h1 {
    color:orange;
}
p {
    color:pink;
}
h3 {
    color:pink;
}
ul {
    color:green;
}
a {
    color:green;
}